.full-gallery-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.full-gallery {
  background: #fefae0;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  max-width: 85%;
  max-height: 80%;
  overflow: auto;
}

.album .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.album .responsive-container-block.bg {
  max-width: 1320px;
  margin: 0 auto;
  justify-content: space-between;
}

.album .img {
  width: 100%;
  margin: 0 0 20px 0;
  border-radius: 10px;
  border: 3px solid #606c38;
}

.album .responsive-container-block.img-cont {
  flex-direction: column;
  max-width: 33.3%;
  margin: 0;
  height: 100%;
}

.album .img.img-big {
  height: 50%;
  margin: 0 0 16px 0;
}

@media (max-width: 1024px) {
  .album .img {
    margin: 0 0 18px 0;
  }

  .album .responsive-container-block.bg {
    flex-direction: column;
  }

  .album .responsive-container-block.img-cont {
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .album .img.img-big {
    max-width: 49%;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .album .img {
    max-width: 94%;
  }

  .album .responsive-container-block.img-cont {
    flex-direction: column;
    align-items: center;
  }

  .album .img.img-big {
    max-width: 94%;
    margin: 0 0 25px;
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #606c38;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
